.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build
captures
.settings
.classpath
bin
coverage
coverage.ec
coverage.em
gen
javadoc
junit-report.xml
lint-result.*ml
local.properties
*~
*.iws
target
build.xml
out
.idea/*
*.iml